<h1>Listing txtalerts</h1>

<table>
  <thead>
    <tr>
      <th>Time alert</th>
      <th>Contents</th>
      <th>To sms</th>
      <th>User</th>
      <th>Msg sent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


</table>

<br>

<%= link_to 'New Txtalert', new_txtalert_path %>
