    <h1>About</h1>

<h3> Ditch is a deadmans switch. </h3>

<p> Deadmans switches are used for many purposes. They check if the user is unresponsive, if so, they activate the switch. Ditch is no different. If the user doesn't ditch their message in time, our system sends it. </p>

<h2>Uses </h2>

<li> Keeping travel plans to yourself, while having a backup message sent out if you are late. </li>
<li> Releasing time sensitive information at a certain date. </li>
<li> Informing a group of an activity you want a head-start on </li>
<li> We have even had users send messages from beyond the grave! </li>

<br>

