<div class="container">
  <div class="row">
    <div class="span9">

    <h1>Abous Us</h1>

<p>Ditch is a bootstraped startup located in the beatiful Calgary Canada. We are focused on being the primere method for people to send delayed messages. We want to achieve the best user experience possible. </p>

<p>We take a lean approach to development. By using languages and tools which allow us the benefits of rapid prototyping we are able to develop new products and features extremely fast. Our teams background is in Computer Science and with that knowledge we can build systems which are robust, fast and optimal. </p>

<h2>Privacy</h2>

<p>Users privacy is our top concern. Under no circumstance will we sell email addresses, phone numbers or message contents. We take privacy extremely seriously. </p>


</div>